@use "./variables.scss" as *;

.wrapper {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 2rem;

  @include respond-mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
  span {
    color: #333;
  }
}

.github {
  color: #333;
  transition: color 0.2s;
  &:hover {
    color: #000;
  }
}

.content {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}

.group {
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
}

.group h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.group p {
  margin-bottom: 1rem;
  color: #666;
}
