@use "./variables.scss" as *;

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 18rem;
}

.searchInput {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2.25rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: $color-muted;

  &::placeholder {
    color: $color-muted;
  }
}

.icon {
  position: absolute;
  left: 0.75rem;
  color: $color-muted;
  pointer-events: none;
}
